<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/custom-css/admin.css}">

    <!-- LOCAL bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- LOCAL jquery js -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <!-- LOCAL popper js -->
    <script th:src="@{/popper/popper.min.js}"></script>
    <!-- LOCAL bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<!--    Main container-->
    <div class="main-con">
        <!--        Header starts-->
        <div class="header-con">
            <div id="bx1">
                <img id="h-logo" th:src="@{/icon/LOGO.png}" alt="Logo">
            </div>
            <div id="bx2">
                <label id="logo-name">PIALEDA</label>
            </div>
        </div>
        <!--        Main container 2 starts-->
        <div class="main-con2">
            <!--        Sidebar starts-->
            <div class="sideBar-con">
                <div>
                    <img th:src="@{/icon/home.png}">
                    <label>Dashboard</label>
                </div>
                <div>
                    <img th:src="@{/icon/profile-user.png}">
                    <label>User</label>
                </div>
                <div>
                    <img th:src="@{/icon/audit.png}">
                    <label>Audit trail</label>
                </div>
                <div>
                    <img th:src="@{/icon/database.png}">
                    <label>Backup</label>
                </div>
            </div>
            <!--        content starts-->
            <div class="content-con">

            </div>
        </div>
    </div>

</body>
</html>