<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/custom-css/admin.css}">
    <script th:src="@{/fontawesome/2302251f1c.js}" crossorigin="anonymous"></script>


    <!-- LOCAL bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- LOCAL jquery js -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <!-- LOCAL popper js -->
    <script th:src="@{/popper/popper.min.js}"></script>
    <!-- LOCAL bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<!--    Main container-->
    <div class="main-con">
        <!--        Header starts-->
        <div class="header-con">
            <div id="bx1">
                <img id="h-logo" th:src="@{/icon/LOGO.png}" alt="Logo">
            </div>
            <div id="bx2">
                <label id="logo-name">PIALEDA</label>
            </div>
        </div>
        <!--        Main container 2 starts-->
        <div class="main-con2">
            <!--        Sidebar starts-->
            <div class="sideBar-con">
                <div>
                    <i class="fa-solid fa-house"></i>
                    <i class="label">Dashboards</i>
                </div>
                <div>
                    <i class="fa-solid fa-user"></i>
                    <i class="label">Users</i>
                </div>
                <div>
                    <i class="fa-solid fa-audio-description"></i>
                    <i class="label">Audit trail</i>
                </div>
                <div>
                    <i class="fa-solid fa-database"></i>
                    <i class="label">Backup</i>
                </div>
            </div>
            <!--        content starts-->
            <div class="content-con">
                <h1>Dashboard</h1>

                <div class="records-con">
                    <div class="invoice-con con">
                        <div>
                            <h6>100</h6>
                            <h4>Invoice</h4>
                        </div>
                        <div>
                            <i class="fa-solid fa-file-invoice"></i>
                        </div>
                    </div>
                    <div class="user-con con">
                        <div>
                            <h6>100</h6>
                            <h4>User</h4>
                        </div>
                        <div>
                            <i class="fa-sharp fa-solid fa-user"></i>
                        </div>
                    </div>
                    <div class="supplier-con con">
                        <div>
                            <h6>100</h6>
                            <h4>Supplier</h4>
                        </div>
                        <div>
                            <i class="fa-solid fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>